[user]
	email = mturquette@deferred.io
	name = Michael Turquette
[color]
	ui = auto
[core]
	editor = vim -c \"set textwidth=72\" -c \"set wrap\" -c \"set spell\" -c \"set nocp\"
	abbrev = 12
	preloadindex = true
[push]
	default = simple
[sendemail]
	smtpserver = /usr/bin/msmtp
	suppresscc = all
[pretty]
	fixes = Fixes: %h (\"%s\")
[rebase]
	autosquash = true
